<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Student Name</th>
      <th>Attendance</th>
    </tr>
    <tr>
      <th>Roll No.</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1905074</th>
      <td>ABHIJIT  ROUT</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905078</th>
      <td>ABHIUDAY  DAS</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905080</th>
      <td>AKASH  KUMAR</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905081</th>
      <td>AKHOURI  PREETISH</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>19051005</th>
      <td>YAZAN  NUMAN</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905101</th>
      <td>KUMARI RADHA  .</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905117</th>
      <td>PREM KUMAR YADAV</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905132</th>
      <td>SHREYA  MISHRA</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905136</th>
      <td>BIKKI KUMAR  .</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905137</th>
      <td>SOUMIK  SAHA</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905166</th>
      <td>CHIRAG  MISHRA</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905177</th>
      <td>HITESH  BISWAS</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905216</th>
      <td>SUDIL TETAR JIWANSHU</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905327</th>
      <td>MIKITA  MAJUMDAR</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905328</th>
      <td>MOUPIYA  MUKHERJEE</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905360</th>
      <td>SPRIHA  RANJAN</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905363</th>
      <td>TISHA  SOUMYA</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905512</th>
      <td>AASHNA  CHHABRA</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905599</th>
      <td>ARYAN  SARRAF</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905607</th>
      <td>HARSH  DWIVEDI</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905630</th>
      <td>SHAKSHI  AGRAWAL</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905638</th>
      <td>SHUBHAM  AGRAHARI</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905760</th>
      <td>ASIM ZOHAIR YAZDANI</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905778</th>
      <td>SWASTIK  SATPATHY</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905790</th>
      <td>RANA  ROY</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905822</th>
      <td>VINEET KUMAR PRADHAN</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905911</th>
      <td>ABHISHEK  PRUSTY</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905912</th>
      <td>SHREYA  NATH</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905917</th>
      <td>ANUBHAV  BORKOTOKY</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905918</th>
      <td>AYUSHI  KUNDU</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905946</th>
      <td>SOMAR  ASAAD</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>1905996</th>
      <td>TULA RAM BASNET</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>20053006</th>
      <td>KUHELI  MANDAL</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>20053014</th>
      <td>YUVRAJ  KAUSHAL</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>20053015</th>
      <td>ANKIT KUMAR BANERJEE</td>
      <td>Abs</td>
    </tr>
    <tr>
      <th>20053025</th>
      <td>HIRANMOY  NANDY</td>
      <td>Abs</td>
    </tr>
  </tbody>
</table>